<h2>This is <a href={% url "index" %}>stackoverflow</a></h2>

<h2><a href={% url "questions:question_list" %}>Questions</a>
    <a href={% url "categories:all_categories" %}>Categories</a>
    <a href={% url "search" %}>Search</a>
    <a href={% url "questions:add_question" %}>Add question</a>
    <a href={% url "login" %}>Login</a></h2>

<h2>{% block title %}{% endblock %}</h2>

<div>
    {% block content %}{% endblock %}
</div>

    <h2>Copyleft <a href="https://github.com/inedostoev/easyStackOveflow">@inedostoev</a></h2>